<html>
    <head>
        <meta charset="utf-8">
        <title>Mushrooms</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
        <h1>Mushrooms</h1>
        <form method="GET" action="http://localhost:5000/predict" class="form-horizontal">
            {% for title, name, options in \
                [
                    ("Cap shape", "cap shape", [
                        ("?", "- unknown -"),
                        ("b", "bell"),
                        ("c", "conical"),
                        ("x", "convex"),
                        ("f", "flat"),
                        ("k", "knobbed"),
                        ("s", "sunken"),
                    ]),
                    ("Cap surface", "cap surface", [
                        ("?", "- unknown -"),
                        ("f", "fibrous"),
                        ("g", "grooves"),
                        ("y", "scaly"),
                        ("s", "smooth"),
                    ]),
                    ("Cap color", "cap color", [
                        ("?", "- unknown -"),
                        ("n", "brown"),
                        ("b", "buff"),
                        ("c", "cinnamon"),
                        ("g", "gray"),
                        ("r", "green"),
                        ("p", "pink"),
                        ("u", "purple"),
                        ("e", "red"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Bruises?", "bruises", [
                        ("?", "- unknown -"),
                        ("t", "Yes"),
                        ("f", "No"),
                    ]),
                    ("Odor", "odor", [
                        ("?", "- unknown -"),
                        ("a", "almond"),
                        ("l", "anise"),
                        ("c", "creosote"),
                        ("y", "fishy"),
                        ("f", "foul"),
                        ("m", "musty"),
                        ("n", "none"),
                        ("p", "pungent"),
                        ("s", "spicy"),
                    ]),
                    ("Gill attachment", "gill attachment", [
                        ("?", "- unknown -"),
                        ("a", "attached"),
                        ("d", "descending"),
                        ("f", "free"),
                        ("n", "notched"),
                    ]),
                    ("Gill spacing", "gill spacing", [
                        ("?", "- unknown -"),
                        ("c", "close"),
                        ("w", "crowded"),
                        ("d", "distant"),
                    ]),
                    ("Gill size", "gill size", [
                        ("?", "- unknown -"),
                        ("b", "broad"),
                        ("n", "narrow"),
                    ]),
                    ("Gill color", "gill color", [
                        ("?", "- unknown -"),
                        ("k", "black"),
                        ("n", "brown"),
                        ("b", "buff"),
                        ("h", "chocolate"),
                        ("g", "gray"),
                        ("r", "green"),
                        ("o", "orange"),
                        ("p", "pink"),
                        ("u", "purple"),
                        ("e", "red"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Stalk shape", "stalk shape", [
                        ("?", "- unknown -"),
                        ("e", "enlarging"),
                        ("t", "tapering"),
                    ]),
                    ("Stalk root", "stalk root", [
                        ("?", "- unknown -"),
                        ("b", "bulbous"),
                        ("c", "club"),
                        ("u", "cup"),
                        ("e", "equal"),
                        ("z", "rhizomorphs"),
                        ("r", "rooted"),
                    ]),
                    ("Stalk surface above ring", "stalk surface above ring", [
                        ("?", "- unknown -"),
                        ("f", "ibrous"),
                        ("y", "scaly"),
                        ("k", "silky"),
                        ("s", "smooth"),
                    ]),
                    ("Stalk surface below ring", "stalk surface below ring", [
                        ("?", "- unknown -"),
                        ("f", "ibrous"),
                        ("y", "scaly"),
                        ("k", "silky"),
                        ("s", "smooth"),
                    ]),
                    ("Stalk color above ring", "stalk color above ring", [
                        ("?", "- unknown -"),
                        ("n", "brown"),
                        ("b", "buff"),
                        ("c", "cinnamon"),
                        ("g", "gray"),
                        ("o", "orange"),
                        ("p", "pink"),
                        ("e", "red"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Stalk color below ring", "stalk color below ring", [
                        ("?", "- unknown -"),
                        ("n", "brown"),
                        ("b", "buff"),
                        ("c", "cinnamon"),
                        ("g", "gray"),
                        ("o", "orange"),
                        ("p", "pink"),
                        ("e", "red"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Veil type", "veil type", [
                        ("?", "- unknown -"),
                        ("p", "partial"),
                        ("u", "universal"),
                    ]),
                    ("Veil color", "veil color", [
                        ("?", "- unknown -"),
                        ("n", "brown"),
                        ("o", "orange"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Ring number", "ring number", [
                        ("?", "- unknown -"),
                        ("n", "0"),
                        ("o", "1"),
                        ("t", "2"),
                    ]),
                    ("Ring type", "ring type", [
                        ("?", "- unknown -"),
                        ("c", "cobwebby"),
                        ("e", "evanescent"),
                        ("f", "flaring"),
                        ("l", "large"),
                        ("n", "none"),
                        ("p", "pendant"),
                        ("s", "sheathing"),
                        ("z", "zone"),
                    ]),
                    ("Spore print color", "spore print color", [
                        ("?", "- unknown -"),
                        ("k", "black"),
                        ("n", "brown"),
                        ("b", "buff"),
                        ("h", "chocolate"),
                        ("r", "green"),
                        ("o", "orange"),
                        ("u", "purple"),
                        ("w", "white"),
                        ("y", "yellow"),
                    ]),
                    ("Population", "population", [
                        ("?", "- unknown -"),
                        ("a", "abundant"),
                        ("c", "clustered"),
                        ("n", "numerous"),
                        ("s", "scattered"),
                        ("v", "several"),
                        ("y", "solitary"),
                    ]),
                    ("Habitat", "habitat", [
                        ("?", "- unknown -"),
                        ("g", "grasses"),
                        ("l", "leaves"),
                        ("m", "meadows"),
                        ("p", "paths"),
                        ("u", "urban"),
                        ("w", "waste"),
                        ("d", "woods"),
                    ]),
                ]
            %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ title }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="{{ name }}">
                        {% for k, v in options %}
                        <option value="{{ k }}">{{ v }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            {% end %}            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-lg btn-success" value="Predict">
                </div>
            </div?
        </form>
    </div>
    </body>
</html>
